<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="EMF for GWT Runtime" sequenceNumber="28">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.gwt.ecore.feature.group" version="2.7.1.v20110913-1156"/>
<unit id="org.eclipse.emf.gwt.common.feature.group" version="2.7.0.v20110913-1156"/>
<unit id="org.eclipse.emf.gwt.feature.group" version="2.7.1.v20110913-1526"/>
<unit id="org.eclipse.emf.gwt.sdk.feature.group" version="2.7.1.v20110913-1526"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/2.7/"/>
</location>
<location path="/Development/GWT2.4/eclipse" type="Profile"/>
</locations>
</target>

